

<!DOCTYPE html>
<html>
<head>
    <title>Book Bus Ticket Online - Express Bus &amp; Coach Bus Tickets | Easybook&#174;</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="favicon.ico" tppabs="https://www.easybook.com/images/favicon.ico" rel="shortcut icon" />
    <link rel="dns-prefetch" href="//www.easybook.com" />

    <meta itemprop="name" content="Easybook.com: Online Express Bus Tickets Booking - Singapore & Malaysia" />
    <meta itemprop="description" content="Easybook.com provides online booking of luxurious coaches and express buses tickets from Singapore to Malaysia and within Malaysia itself." />
    <meta itemprop="image" content="https://www.easybook.com/images/bus/nicecoach01.jpg" />
    <meta name="wot-verification" content="765204235657008abc7d" />
    <meta content="JavaScript" name="vs_defaultClientScript" />


    <meta name="custom-apple-itunes-app" content="app-id=668514565" />
    <meta name="google-play-app" content="app-id=easiphone.easibookbustickets" />
    <meta name="msApplication-ID" content="20142Easibook.EasibookBusTickets" />
    <meta name="msApplication-PackageFamilyName" content="20142Easibook.EasibookBusTickets_jqf2crmfr7rcr" />

    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@

    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <script src="~/Assets/js/modernizr-v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1.js"></script>
    <script src="~/Assets/js/jquery-v=3IDLEdNSOausu89EdCIK3wyMMnV6ZOXRqRIP07-PzrM1.js"></script>
    <script src="~/Assets/js/bootstrap-v=k_JLeBNoSD1_JZ8oZULzx8ckKSBM0W_1jydKsYvzZmk1.js"></script>
    <script src="~/Assets/js/jqueryval-v=sP2K3rQeW5-F9Sv41ts-H-yIgkSIL2sWEssRwZGdHA41.js"></script>
    <script src="~/Assets/js/mix-rojak-v=rwIhPIUAgc_8rg2VTFjZVE7l4mcAg7Kkkb_IMlVrj_Y1.js"></script>
    @RenderSection("css", required: false)
</head>

<body>
    @RenderPage("~/Views/Shared/_HeaderPartial.cshtml")

    @RenderBody()

    <!--Global Site-->
    <div class="outer clearfix sx-hide">
        <div class="col-sm-12">
            <ul class="global-site clearfix">
                <li>Global Site:</li>
                <li>
                    <a class="flag-sg-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Singapore" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-sg  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-sg%27"
                       tppabs="https://www.easybook.com/en-sg"></a>
                </li>
                <li>
                    <a class="flag-my-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Malaysia" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-my  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-my%27"
                       tppabs="https://www.easybook.com/en-my"></a>
                </li>
                <li>
                    <a class="flag-id-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Indonesia" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/id-id  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/id-id%27"
                       tppabs="https://www.easybook.com/id-id"></a>
                </li>
                <li>
                    <a class="flag-th-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Thailand" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/th-th  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/th-th%27"
                       tppabs="https://www.easybook.com/th-th"></a>
                </li>
                <li>
                    <a class="flag-vn-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Vietnam"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/vi-vn  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/vi-vn%27"
                       tppabs="https://www.easybook.com/vi-vn"></a>
                </li>
                <li>
                    <a class="flag-mm-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Myanmar"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-mm  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-mm%27"
                       tppabs="https://www.easybook.com/en-mm"></a>
                </li>
                <li>
                    <a class="flag-kh-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Cambodia" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-kh  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-kh%27"
                       tppabs="https://www.easybook.com/en-kh"></a>
                </li>
                <li>
                    <a class="flag-la-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Laos"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-la  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-la%27"
                       tppabs="https://www.easybook.com/en-la"></a>
                </li>
                <li>
                    <a class="flag-bn-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Brunei"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-bn  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-bn%27"
                       tppabs="https://www.easybook.com/en-bn"></a>
                </li>
            </ul>


            <ul class="payment-new clearfix">
                <li>We Accept:</li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span> <span class='sprite-payment-small p-enets'></span> <span class='sprite-payment-small p-axs'></span>">SGD</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span> <span class='sprite-payment-small p-mepsFpx'></span> <span class='sprite-payment-small p-maybank2u'></span> <span class='sprite-payment-small p-cimb'></span> <span class='sprite-payment-small p-rhb'></span> <span class='sprite-payment-small p-ambank'></span> <span class='sprite-payment-small p-mobileMoney'></span> <span class='sprite-payment-small p-webcash'></span>">MYR</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-doku'></span> <span class='sprite-payment-small p-mandiri-v2'></span> <span class='sprite-payment-small p-alfamart'></span>">IDR</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">THB</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-123pay'></span> + All major Vietnam domestic banks">VND</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">USD</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">RMB</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">MMK</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">BND</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-alipay'></span>">CNY</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-onePay'></span>">LAK</span>
                </li>
            </ul>
            <ul class="member clearfix">
                <li>Member of:</li>
                <li>
                    <a class="m-eeba-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="EEBA"
                       href="javascript:if(confirm(%27http://www.eeba.sg/member.html  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.eeba.sg/member.html%27"
                       tppabs="http://www.eeba.sg/member.html" target="_blank" rel="nofollow"></a>
                </li>
                <li>
                    <a class="m-matta-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="MATTA"
                       href="javascript:if(confirm(%27https://www.matta.org.my/member/MA4414  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.matta.org.my/member/MA4414%27"
                       tppabs="https://www.matta.org.my/member/MA4414" target="_blank" rel="nofollow"></a>
                </li>
                <li>
                    <a class="m-tourismMsia-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Tourism Malaysia"
                       href="javascript:if(confirm(%27http://www.tourism.gov.my/en/us/resources/transportation  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.tourism.gov.my/en/us/resources/transportation%27"
                       tppabs="http://www.tourism.gov.my/en/us/resources/transportation" target="_blank"
                       rel="nofollow"></a>
                </li>
            </ul>
        </div>


        <div class="col-sm-12 text11">
            <span class="m-right20">* Only 0.01% trips slightly higher than counter price.</span>
            <span class="m-right20">
                ** Only applicable for transactions without the use of discount code and trips
                offered by certain companies.
            </span>
            <span class="m-right20">
                *** For certain trips only, discount already reflected in the ticket price itself
                (i.e. lower price than bus counters).
            </span>
            <span class="m-right20">* Bus pictures are for reference only.</span>
            <span class="m-right20">* Trip durations are estimated time only.</span>
        </div>
    </div>

    @RenderPage("~/Views/Shared/_FooterPartial.cshtml")
    <script>
        $(function () {
            var active = true;
            $('#collapse-init').click(function () {
                if (active) {
                    active = false;
                    $('.panel-collapse').collapse('show');
                    $(this).html(JsCommonMsg.ShowLess + ' <i class="fa fa-fw fa-angle-up"></i>');
                } else {
                    active = true;
                    $('.panel-collapse').collapse('hide');
                    $(this).html(JsCommonMsg.ShowMore + ' <i class="fa fa-fw fa-angle-down"></i>');
                }
            });
            $('#accordion').on('show.bs.collapse', function () {
                if (active) $('#accordion .in').collapse('hide');
            });
        });
    </script>
    @RenderSection("script", required: false)
</body>

</html>
