@model PagedList.IPagedList<BusBookingProject.Models.User>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBoard.cshtml";
}
@section css{
    <style type="text/css">
    </style>
    <link href="~/Areas/Admin/Assets/css/cssAdmin.css" rel="stylesheet" />
}
<h2>Danh sách người dùng</h2>
<span style="display: inline-block; margin-bottom: 5px;">
    @Html.ActionLink("Add new User", "Create", "User")
    <b style="margin-left: 3rem;">Search by: </b>
    <select style="margin-right: 3rem;" id="SearchBy" name="SearchBy">
        <option value="Id">Id</option>
        <option value="Username">Username</option>
    </select>
    @Html.TextBox("SearchValue") <input type="submit" id="SearchBtn" value="Search" />


</span>

<table class="table table-bordered">
    <thead>
        <tr class="thead-dark">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">CreatedDate</th>
            <th scope="col">Role</th>
            <th scope="col">ActiveCode</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="DataSearching">
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id" class="info">
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <a href="#" onclick="ConfirmDelete(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>



</table>
<span class="primary" style="padding: 2px 5px;">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</span>

<input type="hidden" id="hiddenUserId" />

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <div style="text-align:center; display: none;" id="loaderDiv">
                    <img src="~/Areas/Admin/Assets/images/loading.gif" />
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="DeleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>


<div id="myModal_1" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-done">
                    <i class="material-icons">done</i>
                </div>
                <h4 class="modal-title">Deleted successfully!!!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_2" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Delete Failed!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>An error occurred, please try again later... :(</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@section js{
    <script src="~/Areas/Admin/Assets/js/myJs.js"></script>
    <script>
            $(document).ready(function () {
                $("#SearchBtn").click(function () {
                    var SearchBy = $("#SearchBy").val();
                    var SearchValue = $("#SearchValue").val();
                    var SetData = $("#DataSearching");
                    SetData.html(""); //Set Data <tbody> = ""
                    $.ajax({
                        url: "/Admin/User/SearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                        type: "GET",
                        contentType: "html",
                        success: function (result) {
                            if (result == 0) {
                                SetData.append('<tr style="color: red;"><td colspan="8">No Match Data</td></tr>');
                            } else {
                                //Foreach (value : result)
                                $.each(result, function (index, value) {
                                    var Data = "<tr>" +
                                        "<td>" + value.Id + "</td>" +
                                        "<td>" + value.Username + "</td>" +
                                        "<td>" + value.Password + "</td>" +
                                        "<td>" + value.CreatedDate + "</td>" +
                                        "<td>" + value.Role + "</td>" +
                                        "<td>" + value.ActiveCode + "</td>" +
                                        "<td>" + value.Status + "</td>" +
                                        "<td>" + "<a href= '" + "/Admin/User/Edit/" + value.Id + "'>Edit</a>" + "|" +
                                        "<a href= '" + "/Admin/User/Details/" + value.Id + "'>Details</a>" + "|" +
                                        "<a href= '" + "#" + "'" + "onclick='" + "ConfirmDelete(" + value.Id + ")'" + ">Delete</a>" +
                                        "</td>" + 
                                        "</tr>";
                                    SetData.append(Data);
                                })
                            }
                        }
                    })
                })
            });
        </script>
}